@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom floating animation */
@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-15px); }
  100% { transform: translateY(0); }
}

.float-animation {
  animation: float 3s ease-in-out infinite;
}

/* You can add any global styles below */
body {
  @apply bg-white text-gray-700;
  margin: 0;
  font-family: 'Comic Sans MS', 'Arial', 'Helvetica', sans-serif;
}

.max-width-container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.custom-navbar-container {
  max-width: 1280px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* Hide scrollbar for Tailwind */
.scrollbar-hide {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

/* Custom Swiper arrow styles */
.swiper-button-next, .swiper-button-prev {
  color: #f97316; /* Set arrow color to orange */
  font-size: 1.5rem; /* Adjust size if needed */
  transition: color 0.3s ease;
}

.swiper-button-next:hover, .swiper-button-prev:hover {
  color: #fb923c; /* Slightly lighter orange on hover */
}